body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(121,121,121, 0.8) 0%, rgba(121,121,121,0.5) 35%, rgba(121,121,121,0.1) 100%);
}

.header {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header__logo__text {
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

ul.header__nav__list {
    display: flex;
}

.header__nav {
    margin: 0 auto;
}


ul.header__nav__list > li {
    margin: 0 1rem; 
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.content__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    max-width: 200px;
    background-color: white;
    border-radius: 5px;
}

.content__card:hover {
    transform: scale(1.01);
}

.content__card__top_img {
    width: 200px;
    height: 200px;
}

.content__card__top {
    border-radius: 5px;
    overflow: hidden;
}

.content__card__bottom {
    padding: 0.5rem;
}

.content_bio {
    display: flex;
}

.content_bio audio::-webkit-media-controls-panel {
    background: lightblue;
}

.content_bio__video {
    width: 100%;
}

.popup {
    position: fixed;
    background-color: white;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 5px;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0, 0.8);
}

.overlay--hide {
    display: none;
}

.hide {
    display: none;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

